@charset "UTF-8";


@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}
  
body {
    margin: auto;
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00a0\1F517';
}
header {
    margin: auto;
    min-height: 150px;
    max-height: 350px;
    background-image: linear-gradient(180deg, var(--cor2), var(--cor5));
    padding: 1.5vh 1vw;
    color: white;
    font-weight: 100;
    text-align: center;
}
header > h1 {
    font: normal normal 3em var(--fonte-destaque);
    margin: 1vw 0vw;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.412);
}

header > p {
    font-size: 1.4em;
    color: rgba(199, 195, 195, 0.801);
    max-width: 500px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.412);
    margin: auto;
}

nav  {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.412);
}

nav  > a {
    text-decoration: none;
    color: white;
    margin-right: 1.3vw;
    font-weight: bold;
    padding: 10px;
}

nav > a:hover {
    text-decoration: underline;
    background-color: var(--cor4);
    transition-duration: 0.5s;
    border-radius: 5px;
}

main {
    background-color: white;
    margin: auto;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.177);
    max-width: 800px;
    min-width: 320px;
}

article {
    padding: 1vh 1vw;
    
}

.bloco {
    margin: auto;
    padding: auto;
}

.bloco > h1 {
    font: normal normal 1.7em android, 'Times New Roman', Times, serif;
    color: var(--cor5);
    margin: 1vh 0vw;
}


.bloco > h2 {
    font: normal normal 1.5em android, 'Times New Roman', Times, serif;
    color: var(--cor5);
    background-image: linear-gradient(90deg, var(--cor2), #ffffff61);
    margin: 4vh 0vw;
    text-indent: 10px;
}

article p {
    text-align: justify;
    text-indent: 30px;
    font-size: 0.93em;
    line-height: 2em;
    margin: 15px 0px;
}

.bloco > p > strong {
    color: var(--cor6);
}

.bloco > p > a {
    color: var(--cor6);
    text-decoration: none;
    font-style: bold;
}

.bloco > p > a:hover {
text-decoration: underline

}

.bloco__imagem {
    display: block;
    width: 100%;
}

#bloco__imagem-bugdroid {
    display: block;
    margin: auto;
    max-width: 350px 
}

.video {
    padding: 20px;
    background-color: var(--cor5);
    margin: 1px -15.5px 1px -15px;
    padding-bottom: 55.9%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

aside {
    margin: 1vw;
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.251);
}

aside > h3 {
    margin: -10px -10px 0px -10px;
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    columns: 2;
    list-style: '\2714\00a0\00a0';
    list-style-position: inside;
}


aside > p > a {
    text-decoration: none;
    color:var(--cor6)
}

footer {
    background-color: var(--cor6);
    color: white;
    text-align: center;
    margin: 3vh 0vw 0vh 0vw;
    padding: 1vw;
}

footer > p {
    margin: 0vw;
}